$timelineYellow: rgb(252, 189, 63);

.timeline svg .changes {
    stroke: #fff;
    stroke-width: 2px;
    fill: none;
    pointer-events: bounding-box;
}

.size-to-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.timeline svg .warnings {
    fill: $timelineYellow;
    opacity: 0.8;
    pointer-events: bounding-box;
}

.timeline svg .errors {
    fill: #b77;
    opacity: 0.8;
    pointer-events: bounding-box;
}

.timeline svg .selector * {
    fill: $timelineYellow;
    stroke-width: 2;
    stroke: $timelineYellow;
    cursor: col-resize;
}

.timeline svg .sub-selector * {
    fill: $timelineYellow;
    stroke-width: 2;
    stroke: $timelineYellow;
}

.timeline .chart-view {
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.x-brush > * {
    height: 30px;
}

.timeline .custom-tooltip {
    width: 120px;
    font-family: 'Montserrat';
    position: absolute;
    background-color: rgba(196, 196, 196, 0.7333333333);
    color: #3a1b1b;
    line-height: 15px;
    top: 0;
    font-size: 12px;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid rgba(196, 196, 196, 0.7333333333);
        border-bottom: 15px solid transparent;
        top: 10%;
        right: 100%;
        position: absolute;
    }

    p {
        margin-bottom: 0;
        text-align: center;
        margin: 5px;
        width: calc(100% - 10px);
    }

    .txt-red {
        background-color: #9b6666;
    }

    .txt-orange {
        background-color: $timelineYellow;
    }

    .txt-white {
        background-color: white;
    }
}

.timeline .hover-line {
    stroke-width: 2;
    stroke: gray;
    opacity: 0.7;
}

.timeline .selected-time-bottom {
    font-size: 20px;
}

.timeline .selected-time-top {
    font-size: 40px;
}

.timeline.size-to-parent {
    display: flex;
}

.timeline a:focus {
    outline: none;
}

.timeline .tl-actions {
    padding: 10px 15px;
    border-left: solid 1px #35373e;
    float: right;
    height: 100%;
    overflow: hidden;
    width: 83px;
}

.timeline .tl-actions a {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 2px;
    cursor: pointer;
}

.timeline .tl-actions a.reset {
    background: #292a2f url('/img/timeline/reset.svg') center center no-repeat;
    background-size: 16px;
}

.timeline .tl-actions a.timemachine {
    background: #292a2f url('/img/timeline/clock.svg') center center no-repeat;
    background-size: 16px;
}

.timeline .tl-actions a.reset:hover {
    background: #35373e url('/img/timeline/reset.svg') center center no-repeat;
}

.timeline .tl-actions a.timemachine:hover {
    background: #35373e url('/img/timeline/clock.svg') center center no-repeat;
}

.timeline .tl-actions a.timemachine.active {
    background: #fcbd3f url('/img/timeline/clock-active.svg') center center no-repeat;
}
