.historyInfo {
  margin-right: 15px;

  /* text-align: center;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 15px; */
}

.historyInfo span {
    display: inline-block;
    margin-right: 15px;
}

.historyInfo span::before {
    content: "";
    float: left;
    width: 24px;
    height: 24px;
    background: url("/img/time-machine/warn.svg") left top;
    margin: -3px 10px 0 0;
}

/* 
.deactivate {
    margin: 0 10px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
} */